################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/project/snake/snake/.vs/snake/v15
*.vcxproj
*.filters
*.user
*.sln
